################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2023/.vs/AdventOfCode2023
/AdventOfCode2023/Day1/bin/
/AdventOfCode2023/Day1/obj/
/AdventOfCode2023/Day2/bin/Debug/net7.0
/AdventOfCode2023/Day2/obj
